@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Tiro+Devanagari&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F0;
  color: #1A1A1A;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}